.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.file-upload {
  background-color:white;
  transition: all 1s;
  color: #2590EB;
}

.file-upload:hover {
  background-color: #2590EB;
  color: white;
}

.file-upload-success {
  background-color: #25eb67;
  color: #FFFFFF;
  transition: all 1s;
}

.file-upload-success:hover {
  background-color: white;
  color:#25eb67;
}

.file-upload-fail {
  background-color: #eb2546;
  color: #FFFFFF;
  transition: all 1s;
}

.file-upload-fail:hover {
  background-color: white;
  color: #eb2546;
}

.file-field {
  width: 100%;
  margin-bottom: 25px;
}