<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="20px" fxLayoutAlign="center">
    <div fxFlex="30%">
        <app-page-card>
            <div fxLayout="column">
                <img mat-card-image class="avatar-img" [src]="img_file">
                <mat-card-title>Jan Kosiński</mat-card-title>
                <mat-card-subtitle>jankos1195@gmail.com</mat-card-subtitle>
            </div>
            <mat-card-content>
                <div style="margin-bottom: 2px; font-size: large">Flatmates:</div>
                <mat-card-subtitle style="margin:0">Jacex Polsa</mat-card-subtitle>
                <mat-card-subtitle style="margin:0">Mefju Szecynpol</mat-card-subtitle>
            </mat-card-content>
          
        </app-page-card>
    </div>
    <div fxFlex="80%">
        <app-page-card>
            <mat-card-subtitle>Flat notes:</mat-card-subtitle>
            <div class="note-boundary">
                
                <app-note> That is my first note</app-note>

                <app-note> That is my second note</app-note>

                <app-note> This is gonna jhas djha sjdah sjd ahsjd ahsjd ahds jashd jash dajds ajsdh ajsdh  be my last note for long text.</app-note>

                <app-note> That is my last note</app-note>

            </div>
        </app-page-card>
    </div>
</div>

