<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
    fxLayoutGap="20px" fxLayoutAlign="center">
    <div fxFlex="25%">
        <app-page-card>
            <div fxLayout="column">
                <img mat-card-image style="border-radius: 5px; margin-bottom: 20px;" [src]="getImg()">
                <mat-card-title>{{userData.name}}</mat-card-title>
                <mat-card-subtitle>{{userData.email}}</mat-card-subtitle>
                <mat-card-subtitle> <span style="color: white">Your scroe:</span> {{userData.score}} </mat-card-subtitle>
            </div>
            <mat-card-content *ngIf="!(flatUsers.length == 0)">
                <div style="margin-bottom: 2px; font-size: large">Flatmates:</div>
                <mat-card-subtitle *ngFor="let itemUser of flatUsers" style="margin:0">
                    {{itemUser.name}}
                </mat-card-subtitle>
            </mat-card-content>

            <mat-card-content *ngIf="flatUsers.length == 0">
                <div style="margin-bottom: 2px; font-size: large">You do not have any flatmates.</div>
            </mat-card-content>

            <mat-card-actions>
                <div fxLayout="row" fxLayoutAlign="end">
                    <button mat-icon-button style="margin: 5px" (click)="openEditDialog()">
                        <mat-icon small>edit</mat-icon>
                    </button>
                </div>
            </mat-card-actions>

        </app-page-card>
    </div>
    <div fxFlex="75%">
        <app-page-card *ngIf="flat != null">
            <mat-card-subtitle>Flat notes:</mat-card-subtitle>
            <mat-card-content>
                <div *ngIf="!(flatNotes.length == 0)" class="note-boundary">
                    <app-note *ngFor="let itemNote of flatNotes" (dblclick)="openNoteDialog(itemNote)"> 
                        <h3 style="margin-bottom: 2px;">{{itemNote.title}}</h3>
                        <span>{{itemNote.description}}</span>
                        <div>
                            {{itemNote.user_name}} ( {{itemNote.createdAt}} )
                        </div>
                    </app-note>
                </div>
                <div *ngIf="flatNotes.length == 0" class="note-boundary">
                    <app-note><h1>There are not any flat notes!</h1></app-note>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div fxLayout="row" fxLayoutAlign="end">
                    <button mat-icon-button style="margin: 5px" (click)="openNoteDialog()">
                        <mat-icon small>add</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </app-page-card>
        <app-page-card *ngIf="flat == null">
            <app-note>
                <h1>You are not assigned to any flat. Create your own or join to your friends to unlock the functionality!</h1>
            </app-note>
        </app-page-card>
    </div>
</div>
