<mat-form-field>
    <input matInput style="width: 100%" placeholder="Title" [(ngModel)]="editNoteValues.title">
</mat-form-field>
<div mat-dialog-content>
        <mat-form-field>
            <textarea matInput style="min-height: 200px;" 
                placeholder="PLace a note here"
                [(ngModel)]="editNoteValues.description">
            </textarea>
        </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button *ngIf="editNoteValues.id != null" mat-button color="warn" 
        [mat-dialog-close]="{action: 'DELETE', data: editNoteValues}">
        Delete
    </button>
    <button mat-button cdkFocusInitial color="accent" (click)="saveNote()">
        Save
    </button>
    <button hidden #noteSaver [mat-dialog-close]="{action: 'SAVE', data: editNoteValues}">
    </button>
</div>