<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
    fxLayoutGap="20px" fxLayoutAlign="center">
    <div fxFlex="80%">
        <app-page-card>
            <mat-card-title>Shopping list:</mat-card-title>
            <mat-form-field style="width: 80%; margin: 10px;">
                <mat-label>Add new product</mat-label>
                <input matInput type="text" name="newProduct" placeholder="New Product">
            </mat-form-field>
                <button mat-button color="accent">Add</button>
            <mat-card-content style="margin-top: 10px;">

                <app-product-row>
                    dupa dupa
                </app-product-row>

                <app-product-row>
                    dupa dupa
                </app-product-row>

            </mat-card-content>
        </app-page-card>
    </div>     
</div>
