<div fxLayout="row" style="width: 100%; margin-left:5px; margin-bottom:2px; border-bottom: solid 1px white">
    <span fxFlex="90%">
        <h3 [ngClass]="item.bought ? 'item-bought' : 'item-not-bought'">{{ item.name }}</h3>
    </span>
    <div>
        <button mat-icon-button color="warn" style="margin: 2px" (click)="delete()">
            <mat-icon small>remove</mat-icon>
        </button>
        <button *ngIf="!item.bought" mat-icon-button color="accent" style="margin: 2px" (click)="check()">
            <mat-icon small>check</mat-icon>
        </button>
    </div>
</div>