<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap
    fxLayoutGap="20px" fxLayoutAlign="center">
    <div fxFlex="80%">
        <app-page-card style="padding: 15px">
            <mat-card-title style="margin:5px">Leaderboard:</mat-card-title>
            <mat-card-content class="container" fxLayout="row" fxLayout.xs="column" 
                fxLayoutAlign="center" style="margin-top: 20px; font-size: 18px">

                <div *ngIf="flat">
                    <app-ranking-row [place]="1" [points]="usersSortedByScore[0].score">
                        {{ usersSortedByScore[0].name }}
                    </app-ranking-row>
    
                    <app-ranking-row [place]="2" [points]="usersSortedByScore[1].score">
                        {{ usersSortedByScore[1].name }}
                    </app-ranking-row>
    
                    <app-ranking-row [place]="3" [points]="usersSortedByScore[2].score">
                        {{ usersSortedByScore[2].name }}
                    </app-ranking-row>
                </div>
            </mat-card-content>
        </app-page-card>
    </div>     
</div>
